:root {
    font-family: Inter, system-ui, Avenir ,Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

a{
    text-decoration: none;
    color: black;
}
.widgetCircle::before{
    content: "";
    position: absolute;
    height: 4rem;
    width: 4rem;
    background: white;
    border-radius: 100%;

}
.table{
    border-collapse: collapse;
    width: 100%;
}
.table > td{
  padding: 8px;
  text-align: left;
  vertical-align: middle;

}

  tr {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.093);
  }
  
  td {
    padding: 1rem;
  }
tbody > img{
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    border-radius: 10px;
}
tbody > a {
    text-decoration: none;
        background-color: rgba(44, 104, 255, 0.455);
        color: rgba(44, 104, 255);
        padding: 0.25rem 0.5rem;
        border-radius: 10px;
}
tbody > button {
    width: 2rem;
        height: 2rem;
        font-size: 1.1rem;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        color: rgb(255, 44, 44);
}
tbody > button:hover {
    opacity: 0.6;
}
tbody > button:first-child{
    border-left: none;
}
tbody > button:last-child{
    border-right: none;
}
/* .transaction-box{
    width: 100%;
    padding: 1rem;
    overflow-x: auto;
} */
.tosscoin{
    transform-style: preserve-3d;
    transition: all 0.5s;
}
.tosscoin > div{
    background-size: contain;
    backface-visibility: hidden;
   filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.521));
}
.first{

    
    background-image: url("./assets/images/heads.png");
}
.second{
    background-image: url("./assets/images/tails.png");
    transform: rotateY(-180deg);
}
/* .coupon-form{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    gap: 2rem;
} */
.coupon-form >input{
    border: 1px solid rgba(0, 0, 0, 0.359);
}
.coupon-form > fieldset{
    border: 1px solid rgba(0, 0, 0, 0.359);
    grid-column: 1/3;
}
.btngrid{
    grid-column: 1/3;
}

.firstdialog{
    position: absolute;
    left: calc(100% - 100px);
    top: 8%;
}

.home > section{
    background: url("./assets/cover.jpg") no-repeat center / cover;
}
.noScrollbar::-webkit-scrollbar{
display: none;
}
.Cart{
    height: calc(100vh - 4rem);
    align-items: stretch;
}
.Cart > main::-webkit-scrollbar{
  display: none;
}