:root {
    font-family: Inter, system-ui, Avenir ,Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(182,234,237,1) 100%);
}


a{
    text-decoration: none;
    color: black;
}
.widgetCircle::before{
    content: "";
    position: absolute;
    height: 4rem;
    width: 4rem;
    background: white;
    border-radius: 100%;

}
.table{
    border-collapse: collapse;
    width: 100%;
}
.table > td{
  padding: 8px;
  text-align: left;
  vertical-align: middle;

}

  tr {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.093);
  }
  
  td {
    padding: 1rem;
  }
tbody > img{
    width: 4rem;
    height: 4rem;
    object-fit: contain;
    border-radius: 10px;
}
tbody > a {
    text-decoration: none;
        background-color: rgba(44, 104, 255, 0.455);
        color: rgba(44, 104, 255);
        padding: 0.25rem 0.5rem;
        border-radius: 10px;
}
tbody > button {
    width: 2rem;
        height: 2rem;
        font-size: 1.1rem;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        color: rgb(255, 44, 44);
}
tbody > button:hover {
    opacity: 0.6;
}
tbody > button:first-child{
    border-left: none;
}
tbody > button:last-child{
    border-right: none;
}
/* .transaction-box{
    width: 100%;
    padding: 1rem;
    overflow-x: auto;
} */
.tosscoin{
    transform-style: preserve-3d;
    transition: all 0.5s;
}
.tosscoin > div{
    background-size: contain;
    backface-visibility: hidden;
   filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.521));
}
.first{

    background-image: url("./assets/images/One Rupee Back.jpg");
}
.second{
    background-image: url("./assets/images/One Rupee front.jpg");
    transform: rotateY(-180deg);
}
/* .coupon-form{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    gap: 2rem;
} */
.coupon-form >input{
    border: 1px solid rgba(0, 0, 0, 0.359);
}
.coupon-form > fieldset{
    border: 1px solid rgba(0, 0, 0, 0.359);
    grid-column: 1/3;
}
.btngrid{
    grid-column: 1/3;
}

.firstdialog{
    position: absolute;
    left: calc(100% - 100px);
    top: 8%;
}

.home > section{
    background: url("./assets/hero_image_girl2.jpg") no-repeat center / cover;
}
.noScrollbar::-webkit-scrollbar{
display: none;
}
.Cart{
    height: calc(100vh - 4rem);
    align-items: stretch;
}
.Cart > main::-webkit-scrollbar{
  display: none;
}
.biarrowback{
    transition: all 0.3s;
}
.biarrowback:hover{
   translate: -0.25rem;
}
.loading {
    width: 100vw;
    height: 100vh;
    background-color: inherit;
    display: grid;
    place-items: center;
    max-width: 100%;
  }
  
  .loading > div {
    width: 10vmax;
    height: 10vmax;
    border-bottom: 5px solid rgba(0, 0, 0, 0.719);
  
    border-radius: 50%;
  
    animation: loadingRotate 800ms linear infinite;
  }
  
  @keyframes loadingRotate {
    to {
      transform: rotateZ(-360deg);
    }
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.animatedBtn::before{
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #14b8a6;
    z-index: -1;
    transform: translateX(-100%);
    transition: all 0.5s ease 0s;
}
.animatedBtn:hover::before{
    transform: translateX(0);
}
.productCard{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(182,234,237,0.7847514005602241) 100%);
}
.addToCart::before{
content: '';
position: absolute;
top: 0;
left: 0;
height: 50%;
width: 100%;
background-color: #14b8a6;
transition: all 0.4s ease;
}
.addToCart:hover::before{
    transform: translateY(-100%);
}
.addToCart::after{
content: '';
position: absolute;
bottom: 0;
left: 0;
height: 50%;
width: 100%;
background-color: #14b8a6;
transition: all 0.5s ease;
}
.addToCart:hover::after{
    transform: translateY(100%);
   
}
.viewBtn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #14b8a6;
    transition: all 0.5s ease;
    transform: translateX(-100%);
}
.viewBtn:hover::before{
    transform: translateX(-50%);
    
}
.viewBtn::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #14b8a6;
    transition: all 0.5s ease;
    transform: translateX(100%);
}
.viewBtn:hover::after{
    transform: translateX(50%);
    
}